<ul>

  <% @search_from_itunes[:results].each do |result| %>
    <li>
      <h6><%= result[:trackCensoredName] %></h6>

      <img src='<%= result[:artworkUrl100] %>' >
    </li>

  <% end %>

</ul>
<h1 style="color:red;"><%= @is_artist %></h1>
