ter/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery-ui

 *= require_tree .
 *= require_self
 */

 /* Custom Stylesheet */
 /**
  * Use this file to override Materialize files so you can update
  * the core Materialize files in the future
  *
  * Made By MaterializeCSS.com
  */
nav ul a,
nav .brand-logo {
 color: #444;
}

p {
 line-height: 2rem;
}

.button-collapse {
 color: #26a69a;
}

.parallax-container {
 min-height: 380px;
 line-height: 0;
 height: auto;
 color: rgba(255,255,255,.9);
}
 .parallax-container .section {
   width: 100%;
 }

@media only screen and (max-width : 992px) {
 .parallax-container .section {
   position: absolute;
   top: 40%;
 }
 #index-banner .section {
   top: 10%;
 }
}

@media only screen and (max-width : 600px) {
 #index-banner .section {
   top: 0;
 }
}

.icon-block {
 padding: 0 15px;
}
.icon-block .material-icons {
 font-size: inherit;
}

footer.page-footer {
 margin: 0;
}

/*Sticky footer*/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.parallax img {
  display: inherit !important;
}

/*Styling for autocomplete dropdown*/
.ui-menu{
    width: 20%;
    background-color: white;
    z-index: 10;
    border: 1px solid #444;
    box-shadow: 0 5px 5px  #d9d9d9;
}
.ui-menu .ui-menu-item{
  text-align: center;
  font-size: 1.5em;
}
.ui-menu .ui-menu-item:hover{
  background-color: #d9d9d9;
}

/**/
.playlist-box{
  display: -webkit-inline-box;
  max-width: 100vw;
  max-height: 35vh;
  overflow-x: scroll;
}
.icon-block{
  width: 50vw;
  font-size: 1.5em;
  padding: 10px;
}
.playlist-box ol{
  margin: 2em;
}

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .icon-block{
      width: 100%;
    }
}
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3) {
  .icon-block{
    width: 100%;
  }
}


/* Search Area */
#search{
  text-align: center;
  font-size: 1.5em;
}
.search-area{
  font-size: 1.5em;
}
